.post.hidden {
    display: none !important;
}

main.index, main.archive {
    font-family: inherit;
}
#main > .post  {
    margin-top: 0.2rem;
    font-size: 0.9em;
}

#main > .post > h2 {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#main > .post > h2 > time {
    font-size: 1rem;
    font-weight: normal;
}

#main > .post > .content {
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    #main > .post {
        font-size: 1.2em;
    }
    
    #main > .post > div {
        margin-left: 2rem;
    }
}
