#main > .post-group > ul > li > div {
    display: flex; align-items: center;
}
div.hidden {
    display: none !important;
}

/* Hide month/year separators in archive */
#main > .post-group > h2 {
    display: none;
}

#main > .post-group > ul {
    border-left: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

#main > .post-group > ul > li {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.6;
    padding: .8rem 0;
    border-bottom: 1px solid #ddd;
}

#main > .post-group > ul > li > time {
    text-align: right;
}

@media screen and (min-width: 768px) {
    #main > .post-group > ul {
        margin-left: 0;
        padding-left: 0;
    }
}
